@use '@/styles/utils';
@use '@/styles/variables' as var;

.button {
  @include utils.transition(0.2s);

  width: 100%;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 20px;
  cursor: pointer;

  &__disabled {
    color: var.$color-text-disabled;
    background: var.$bg-disabled;
    border: none;
  }

  &__primary {
    color: #fff;
    background: var.$color-primary;
    border: none;

    &:hover {
      background: var.$color-primary-light;
    }
  }

  &__secondary {
    color: var.$color-primary;
    background: var.$color-white;
    border: 1px solid var.$color-primary;

    &:hover {
      border: 1px solid var.$color-primary-light;
    }
  }
}
