@use '@/styles/utils';
@use '@/styles/variables' as var;

@use '@/components/Avatar/Avatar.module.scss';

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__header,
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    align-items: center;

    &__text {
      display: flex;
      align-items: center;
      gap: 5px;

      font-size: 1.4rem;
    }

    ul {
      display: flex;
      align-items: center;
    }

    &__list {
      @extend .avatar__small;

      position: relative;
      margin-left: -12px;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:hover &__name {
        visibility: visible;
      }

      &__name {
        position: absolute;
        top: -10px;
        left: 50%;
        font-size: 12px;
        color: var.$color-white;
        background: var.$color-grey;
        border-radius: 5px;
        white-space: nowrap;
        transform: translate(-50%, -100%);
        padding: 5px 10px;
        visibility: hidden;

        &::before {
          content: '';
          position: absolute;
          top: 80%;
          left: 46%;
          transform: rotate(45deg);
          background: var.$color-grey;
          padding: 4px;
        }
      }

      &__image {
        @extend .avatar__image;
        @include utils.transition(0.2s, transform);

        border: 2px solid var.$color-white;

        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }

  &__content {
    &__text {
      @include utils.transition(0.2s);

      display: block;
      font-size: 14px;
      color: var.$color-primary;
      margin-top: 8px;
      cursor: pointer;
    }

    &__icon {
      align-self: flex-end;
      color: var.$color-grey;
    }
  }
}
