@use '@/styles/utils';
@use '@/styles/variables' as var;

.sidebar {
  @include utils.transition(0.2s);

  display: flex;
  flex-direction: column;

  width: 220px;
  height: 100vh;
  padding: 20px 0px 20px 20px;

  &__collapse {
    @include utils.transition(0.2s);

    width: 0px;
    padding: 20px 0;
    overflow-x: hidden;
  }

  &__header {
    @include utils.flex-center;
  }

  &__divider {
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.12);
    border-right: 0px solid rgba(0, 0, 0, 0.12);
    border-left: 0px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    height: 1px;
    margin: 16px 0px;
    border-bottom: none;
    opacity: 0.25;
    background-image: linear-gradient(
      to right,
      rgba(52, 71, 103, 0),
      rgba(52, 71, 103, 0.5),
      rgba(52, 71, 103, 0)
    ) !important;
  }

  &__menu {
    color: var.$color-grey;
    font-size: 1.2rem;
    font-weight: 600;
    min-width: 200px;

    &__list {
      display: flex;
      align-items: center;
      gap: 15px;

      padding: 8px 12px;
      cursor: pointer;

      &__active {
        @include utils.transition(0.2s);

        background: var.$color-white;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 27px 0px;
      }

      &__icon {
        margin-left: auto;
        line-height: 0;
      }
    }

    &__nested {
      display: flex;
      align-items: center;

      padding: 12px 12px 12px 26px;

      &__active {
        color: var.$color-primary;

        &::before {
          background: var.$color-primary !important;
        }
      }

      &::before {
        content: '';
        display: inline-block;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: var.$color-grey;
        margin-right: 28px;
      }
    }
  }
}
